@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'mapbox-gl/dist/mapbox-gl.css';


/* globals.css */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  #root, .container {
    height: 100%;
  }
  
  #map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
  }
  
  .footer {
    position: relative;
    bottom: 0;
    width: 100%;
  }
  